<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.cloud.bookstore.mapper.BookEvaluationMapper">

    <!--返回字段-->
    <resultMap id="BaseResultMap" type="com.spring.cloud.bookstore.domain.BookEvaluation">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="commentatorId" jdbcType="VARCHAR" property="commentatorId"/>
        <result column="bookId" jdbcType="VARCHAR" property="bookId"/>
        <result column="evaluationInfo" jdbcType="VARCHAR" property="evaluationInfo"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, commentatorId, bookId, evaluationInfo
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from book_evaluation
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from book_evaluation
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.spring.cloud.bookstore.domain.BookEvaluation">
        insert into book_evaluation (id, commentatorId, bookId,
          evaluationInfo)
        values (#{id,jdbcType=BIGINT}, #{commentatorId,jdbcType=VARCHAR}, #{bookId,jdbcType=VARCHAR},
          #{evaluationInfo,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.spring.cloud.bookstore.domain.BookEvaluation">
        insert into book_evaluation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="commentatorId != null">
                commentatorId,
            </if>
            <if test="bookId != null">
                bookId,
            </if>
            <if test="evaluationInfo != null">
                evaluationInfo,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="commentatorId != null">
                #{commentatorId,jdbcType=VARCHAR},
            </if>
            <if test="bookId != null">
                #{bookId,jdbcType=VARCHAR},
            </if>
            <if test="evaluationInfo != null">
                #{evaluationInfo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.spring.cloud.bookstore.domain.BookEvaluation">
        update book_evaluation
        <set>
            <if test="commentatorId != null">
                commentatorId = #{commentatorId,jdbcType=VARCHAR},
            </if>
            <if test="bookId != null">
                bookId = #{bookId,jdbcType=VARCHAR},
            </if>
            <if test="evaluationInfo != null">
                evaluationInfo = #{evaluationInfo,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.spring.cloud.bookstore.domain.BookEvaluation">
        update book_evaluation
        set commentatorId = #{commentatorId,jdbcType=VARCHAR},
          bookId = #{bookId,jdbcType=VARCHAR},
          evaluationInfo = #{evaluationInfo,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
   </update>
</mapper>